<h1>Omer & Noam in the house</h1>
<marquee>Omer & Noam doing Angular and TS</marquee>

<a [routerLink]="['/one']" routerLinkActive="router-link-active"> Page 1</a> | <a [routerLink]="['/two']" routerLinkActive="router-link-active" > Page 2</a> | <a [routerLink]="['/three']" routerLinkActive="router-link-active" > Page 3</a> 
<br>
<br>
<br>
<button mat-raised-button color="warn" [routerLink]="['/one']">One</button> <button mat-raised-button color="warn" [routerLink]="['/two']" >Two</button> <button mat-raised-button color="warn" [routerLink]="['/three']">Three</button>
<br>
<br>






<router-outlet></router-outlet>


